<ion-header>
  <ion-toolbar>
    <ion-img src="/assets/hdns.png" slot="start" class="header-logo"></ion-img>
    @if (current?.ip) {
    <ion-chip color="light" slot="end" outline class="address-chip ion-hide-sm-down" (click)="toggleHistory()">
      <ion-icon name="globe-outline"></ion-icon>
      <ion-label>{{ current.ip }}</ion-label>
    </ion-chip>
    }
    <ion-buttons slot="end">
      <ion-button fill="clear" class="ion-hide-sm-up" [disabled]="!current?.ip" (click)="toggleHistory()">
        <ion-icon name="globe-outline"></ion-icon>
      </ion-button>
      <ion-button fill="clear" (click)="toggleLogs()" title="View Logs" [color]="showLogs ? 'primary' : ''"
        [disabled]="hasActiveModal">
        <ion-icon name="document-text-outline"></ion-icon>
      </ion-button>
      <ion-button fill="clear" (click)="toggleConfig()" title="Configuration" [color]="showConfig ? 'primary' : ''"
        [disabled]="hasActiveModal">
        <ion-icon name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  @if (hasActiveModal) {
  <div class="backdrop-blur" (click)="closeActiveForm()"></div>
  }

  <ion-grid class="ion-no-padding ion-no-margin">
    @if (record) {
    <app-record-form [record]="record" (onChange)="onRecordChange($event)" (onClose)="record = null">
    </app-record-form>
    }

    @if (showConfig) {
    <app-configuration (onClose)="toggleConfig()" (onChange)=" showConfig = false">
    </app-configuration>
    }

    @if (showLogs) {
    <app-log (onClose)="toggleLogs()">
    </app-log>
    }

    @if (showHistory) {
    <app-history (onClose)="toggleHistory()" [current]="current">
    </app-history>
    }

    @if (showRecordResolution) {
    <app-record-resolution [record]="selectedRecord" (onClose)="closeRecordIps()">
    </app-record-resolution>
    }

    @if (!hasActiveModal) {
    <app-record [records]="records" [current]="current" (addRecord)="addRecord()"
      (editRecord)="editRecordAction($event)" (deleteRecord)="deleteRecord($event)"
      (refreshRecord)="refreshRecord($event)" (showRecordResolution)="toggle($event)">
    </app-record>
    }

  </ion-grid>
</ion-content>
