
.center-content {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        /* Full viewport height */
        text-align: center;
        position: relative;
        overflow: hidden;
        /* Animated gradient background */
        background: linear-gradient(200deg, var(--ion-color-primary), var(--ion-color-secondary), black);
        background-size: 1200% 1200%;
        animation: hdns-gradient-animate 16s ease-in-out infinite;
        z-index: 1;
}

@keyframes hdns-gradient-animate {
    0% {
        background-position: 0% 50%;
    }
    25% {
        background-position: 50% 100%;
    }
    50% {
        background-position: 100% 50%;
    }
    75% {
        background-position: 50% 0%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.center-content>.content {
    max-width: 100%;
    width: 100%;
    padding: 10px;
}

.cover {
    max-height: 200px;
    margin: 64px 0;
}

ion-spinner {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 64px;
    width: 64px;
}