<div class="center-content" (click)="dismiss()">
    <div class="content">
        <img class="cover" src="assets/hdns.png">
        @if (!initiated.value) {
            <ion-spinner color="primary" name="circles"></ion-spinner>
        }
        @if (initiated.value && !connected.value) {
        <ion-label class="ion-text-center">
            <h1>The service is currently unavailable.</h1>
            The software will automatically retry to establish a connection. If this problem sustains, contact a
            responsible administrator.
        </ion-label>
        }
    </div>
</div>