/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import '@ionic/angular/css/palettes/dark.system.css';


ion-modal.auto-height {
    &.bottom {
        align-items: flex-end;
    }

    min-height: 200px;
    --height: auto;
    --border-radius: 20px;

    .ion-page {
        position: relative;
        display: block;
        contain: content;

        --max-height: 100vh;
        max-height: 100vh;
        overflow-y: visible;

        .inner-content {
            max-height: 80vh;
            overflow-y: visible;
            padding: 10px;
        }
    }
}

ion-modal.full-size {
    --border-radius: 0;

    min-height: 100%;
    --height: 100%;
    min-width: 100%;
    --width: 100%;

    z-index: 10000;
}


.toast {
    --border-color: var(--ion-color-primary) !important;
    --background: none;
    --height: 60px;
    --border-radius: 12px;
}

.error-toast {
    --button-color: var(--ion-color-danger) !important;
    --background: none;
    --height: 60px;
    --border-radius: 12px;
}

.toast::part(container),
.error-toast::part(container) {
    background: var(--ion-toolbar-background);
    color: var(--ion-text-color);
    border-radius: 12px;
}

.toast::part(header) {
    font-weight: bold;
    color: var(--ion-color-primary) !important;
}

.error-toast::part(header) {
    font-weight: bold;
    color: var(--ion-color-danger) !important;
}

.dismiss-notifications-button {
    position: absolute;
    bottom: 0;
    right: 20px;
    margin: 8px 10px;
    font-size: 10px;
    color: var(--ion-text-color);
    text-decoration: underline;
    z-index: 10000;

    &:hover {
        cursor: pointer;
    }
}

cdk-virtual-scroll-viewport {
	height: 100%;
	width: 100%;
}

.cdk-virtual-scroll-content-wrapper {
	max-width: 100%;
    height: 100%;
    position: unset !important;
    contain: unset !important;
}